@namespace liberator url("http://vimperator.org/namespaces/liberator");

[liberator|highlight~=HintImage],
[liberator|highlight~=Hint] {
    z-index: 5000;
    position: absolute !important;
}
[liberator|highlight~=Search] {
    display: inline !important;
}

/* Applied only to completion buffer and MOW */
@-moz-document
    url-prefix(chrome://liberator/) {

*:-moz-loading, *:-moz-broken { display: none !important; }

[liberator|highlight~=Completions] {
    width: 100%;
    display: table;
}
[liberator|highlight~=CompItem],
[liberator|highlight~=CompTitle] {
    display: table-row;
}
[liberator|highlight~=Completions] > ul {
    display: table-row;
}
[liberator|highlight~=CompItem] > *,
[liberator|highlight~=CompTitle] > * {
    /* disabled for now, since it throws SecurityErrors to the console */
    /* -moz-binding: url(chrome://liberator/content/bindings.xml#compitem-td); */
    display: table-cell;
    vertical-align: middle;
}

[liberator|highlight~=CompMsg] {
    height: 1.5em;
    line-height: 1.5em !important;
}

.td-span {
    display: inline-block;
    overflow: visible;
    width: 0px;
    height: 1.5em;
    line-height: 1.5em !important;
}
.td-strut {
    display: inline-block;
    vertical-align: middle;
    height: 16px;
    width: 0px;
}

.extra-info { color: gray; }

.times-executed, .time-average { color: green; }
.time-total { color: red; }

}

/* Applied to completion buffer, MOW, browser window */
@-moz-document
    url-prefix(chrome://) {

.liberator-container > * {
    font-family: inherit;
}

.liberator-floatbox {
    position: fixed;
    width: 100%;
    height: 100%;
}

.liberator-container.animation[collapsed='true'] {
    opacity: 0;
    pointer-events: none;
    max-height: 10px !important;
    min-height: 10px;
}

.liberator-floatbox #liberator-completions,
.liberator-floatbox #liberator-multiline-output {
    background-color: transparent;
}

.liberator-floatbox > iframe {
    height: 100%;
    width: 100%;
}

.liberator-container.animation {
    -moz-transition: all 0.2s;
}

#liberator-completions {
    -moz-user-focus: ignore;
    overflow: -moz-scrollbars-none !important;
    border-width: 0px !important;
}

/* all elements in the statusline and commandline need some padding to look good */
#liberator-statusline {
    font-family: monospace;
    margin: 0px;
    -moz-appearance: none;
    border: none !important;
    min-height: 16px !important;
}
#liberator-statusline:not([customizing="true"]) :-moz-any(toolbarbutton) {
    border: none !important;
    padding: 0 0px !important;
    background: transparent !important;
    height: 18px !important;
}
#liberator-statusline > *,
#liberator-commandline > * {
    padding: 0px 2px;
    font-family: monospace;
}

#liberator-commandline.hidden {
    opacity: 0;
    pointer-events: none; /* so we can click through when the command line is hidden */
}

#liberator-statusline,
#liberator-message-toolbar {
    -moz-box-align: center;
}
#liberator-statusline[customizing="true"] :-moz-any(#liberator-message-toolbar, #liberator-status-toolbar) {
    border: 1px dotted gray;
    min-width: 1em;
}

#liberator-commandline-prompt {
    background-color: inherit;
    margin: 0px;
}
#liberator-commandline-command {
    background-color: inherit;
    color: inherit;
    margin: 0px;
}
#liberator-message {
    margin: 0px;
}
.liberator-hiding {
    opacity: 0;
    -moz-transition: opacity 0.5s;
}

#sidebar {
    max-width: 90% !important;
    min-width: 10% !important;
}

/* MOW */

#liberator-completions,
#liberator-multiline-output,
#liberator-multiline-input {
    overflow: hidden;
    background-color: white;
    color: black;
}

#liberator-completions-content,
#liberator-multiline-output-content,
#liberator-multiline-input {
    white-space: pre;
    font-family: -moz-fixed;
    margin: 0px;
}

#liberator-completions-content *,
#liberator-multiline-output-content *,
#liberator-commandline-prompt *,
#liberator-commandline-command {
    font: inherit;
}

#liberator-commandline-prompt-text {
    max-width: 0;
    -moz-transition-property: max-width;
    -moz-transition-duration: 0.25s;
}

#liberator-completions-content table,
#liberator-multiline-output-content table {
    white-space: inherit;
    border-spacing: 0px;
}

#liberator-completions-content td,
#liberator-multiline-output-content td,
#liberator-completions-content th,
#liberator-multiline-output-content th {
    padding: 0px 2px;
}

/* for muttator's composer */
#content-frame, #appcontent {
    border: 0px;
}

}

/* vim: set fdm=marker sw=4 ts=4 et: */
