@namespace liberator url("http://vimperator.org/namespaces/liberator");

/* Applied to all content */
[liberator|activeframe] {
    /* disabled for now, since it throws SecurityErrors to the console */
    /* -moz-binding: url(chrome://liberator/content/bindings.xml#frame); */
}

[liberator|highlight~=HintImage],
[liberator|highlight~=Hint] {
    z-index: 5000;
    position: absolute !important;
}
[liberator|highlight~=Search] {
    display: inline !important;
}

/* Applied only to completion buffer and MOW */
@-moz-document
    url-prefix(chrome://liberator/) {

*:-moz-loading, *:-moz-broken { display: none !important; }

[liberator|highlight~=Completions] {
    width: 100%;
    display: table;
}
[liberator|highlight~=CompItem],
[liberator|highlight~=CompTitle] {
    display: table-row;
}
[liberator|highlight~=Completions] > ul {
    display: table-row;
}
[liberator|highlight~=CompItem] > *,
[liberator|highlight~=CompTitle] > * {
    /* disabled for now, since it throws SecurityErrors to the console */
    /* -moz-binding: url(chrome://liberator/content/bindings.xml#compitem-td); */
    display: table-cell;
    vertical-align: middle;
}

[liberator|highlight~=CompMsg] {
    height: 1.5em;
    line-height: 1.5em !important;
}

.td-span {
    display: inline-block;
    overflow: visible;
    width: 0px;
    height: 1.5em;
    line-height: 1.5em !important;
}
.td-strut {
    display: inline-block;
    vertical-align: middle;
    height: 16px;
    width: 0px;
}

.extra-info { color: gray; }

.times-executed, .time-average { color: green; }
.time-total { color: red; }

}

/* Applied to completion buffer, MOW, browser window */
@-moz-document
    url-prefix(chrome://) {

.liberator-container > * {
    font-family: inherit;
}

#liberator-completions {
    -moz-user-focus: ignore;
    overflow: -moz-scrollbars-none !important; /* does not seem to work fully */
    border-width: 0px !important;
    /*-moz-appearance: none !important; /* prevent an ugly 3D border */
}

/* fixes the min-height: 22px from firefox */
#status-bar,
statusbarpanel {
    -moz-appearance: none !important;
	min-height: 18px !important;
    border: none !important;
    font-weight: bold;
    font-family: monospace;
}

#liberator-statusline {
    font-family: monospace;
    margin: 0px;
}
#liberator-statusline > label {
    padding: 0px 0px 0px 8px;
}
#liberator-statusline > label:first-child {
    padding: 0px;
}
#liberator-statusline-field-url {
    background-color: inherit;
    color: inherit;
}

/* no longer at the window's bottom right corner */
.statusbar-resizerpanel {
    display: none;
}
#statusbar-display, #statusbar-progresspanel {
    display: none;
}

#liberator-commandline-prompt {
    background-color: inherit;
    margin: 0px;
    padding: 0px;
}
#liberator-commandline-command {
    background-color: inherit;
    color: inherit;
    margin: 0px;
}
#liberator-message {
    margin: 0px;
}

#sidebar {
    max-width: 90% !important;
    min-width: 10% !important;
}

/* MOW */

#liberator-completions,
#liberator-multiline-output,
#liberator-multiline-input {
    overflow: hidden;
    background-color: white;
    color: black;
}

#liberator-completions-content,
#liberator-multiline-output-content,
#liberator-multiline-input {
    white-space: pre;
    font-family: -moz-fixed;
    margin: 0px;
}

#liberator-completions-content *,
#liberator-multiline-output-content *,
#liberator-commandline-prompt *,
#liberator-commandline-command {
    font: inherit;
}

#liberator-completions-content table,
#liberator-multiline-output-content table {
    white-space: inherit;
    border-spacing: 0px;
}

#liberator-completions-content td,
#liberator-multiline-output-content td,
#liberator-completions-content th,
#liberator-multiline-output-content th {
    padding: 0px 2px;
}

/* for muttator's composer */
#content-frame, #appcontent {
    border: 0px;
}

}

/* vim: set fdm=marker sw=4 ts=4 et: */
