/*
 * Help file
 */

div.main {
    font-family: -moz-fixed;
    white-space: -moz-pre-wrap;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

p.tagline {
    text-align: center;
    font-weight: bold;
}

/* the text in the tables is too large without that */
table {
    font-size: 1.0em;
}
table.vimperator {
    border-width: 1px;
    border-style: dotted;
    border-color: gray;
    margin-bottom: 2em; /* FIXME: just a quick hack until we have proper pages */
}
table.vimperator td {
    border-width: 0px;
    padding: 3px;
    border-style: none;
}
tr.separator {
/*    border-width: 3px 0px 0px 0px;
    border-style: solid none none none;*/
    border-color: gray;
    height: 10px !important;
}
hr { /* horizontal lines */
    width: 100%;
    height: 1px;
    border-style: solid;
    /*border-color: #6A97D4;*/
    border-color: white;
}
td.taglist {
    text-align: right;
    vertical-align: top;
    border-spacing: 13px 10px;
    border-width: 0px 10px;
    border-color: blue !important;
}
td.taglist td {
    width: 100px;
    padding: 3px 0px;
}
tr.taglist code, td.usage code {
    margin: 0px 2px;
}
td.usage code {
    white-space: nowrap;
}
td.taglist code {
    margin-left: 2em;
}
code.tag {
    font-weight: bold;
    color: rgb(255, 0, 255); /* magenta */
}
tr.description {
    margin-bottom: 4px;
}
table.commands {
    background-color: rgb(250, 240, 230);
}
table.mappings {
    background-color: rgb(230, 240, 250);
}
table.options {
    background-color: rgb(240, 250, 230);
}

fieldset.paypal {
    border: none;
}

.argument {
    color: #6A97D4;
}

.command {
    font-weight: bold;
    color: #632610;
}

.mapping {
    font-weight: bold;
    color: #102663;
}

.option {
    font-weight: bold;
    color: #106326;
}

.code {
    color: #108826;
}

.shorthelp {
    font-weight: bold;
}

.version {
    position: absolute;
    top: 10px;
    right: 2%;
    color: #C0C0C0;
    text-align: right;
}

.warning {
    font-weight: bold;
    color: red;
}

/*
 * XUL
 *
 * TODO: move to the standard location: chrome/skin/vimperator.css...if I can
 * ever convince MS ;-) -- djk
 */
#vimperator-toolbar  {
    font-family: monospace;
}

#vimperator-bufferwindow, #vimperator-completion, #vimperator-previewwindow {
    -moz-user-focus: ignore;
    overflow: -moz-scrollbars-none;
}

/* the selected item in listboxes is hardly readable without this */
#vimperator-completion > listitem[selected="true"],
#vimperator-bufferwindow > listitem[selected="true"],
#vimperator-previewwindow > listitem[selected="true"]
{
   background-color: Highlight !important;
   color: HighlightText !important;
}

#vimperator-statusline > label {
    padding: 0px 0px 0px 8px;
}
#vimperator-statusline > label:first-child {
    padding: 0px;
}

#vimperator-commandline {
    background-color: white;
    color: black;
}
#vimperator-commandline-prompt {
    /* FIXME: black on white or default skin colours? */
    background-color: white;
    color: black;
}

.status_insecure, .status_insecure * {
    background-color: transparent;
}
.status_secure, .status_secure * {
    background-color: #B0FF00; /* light green */
    color: black;
}
.status_broken, .status_broken * {
    background-color: #FF6060; /* light red */
    color: black;
}

/* vim: set fdm=marker sw=4 ts=4 et: */
