div.main {
    font-family: monospace;
    font-size: 12px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

p.tagline {
    text-align: center;
    font-weight: bold;
}

/* the text in the tables is too large without that */
table {
	font-size: 1.0em;
}

table.vimperator {
    border-width: 1px 1px 1px 1px;
    border-style: dotted dotted dotted dotted;
    border-color: gray gray gray gray;
	margin-left: auto; /* for centering the table */
    margin-right: auto;
    width: 800px !important;
    white-space: -moz-pre-wrap !important;
}
table.vimperator td {
    border-width: 0px 0px 0px 0px;
    padding: 3px 3px 3px 3px;
    border-style: none;
}
tr.separator {
/*    border-width: 3px 0px 0px 0px;
    border-style: solid none none none;*/
    border-color: gray gray gray gray;
	height: 10px !important;
}
hr { /* horizontal lines */
	width: 100%;
	height: 1px;
	border-style: solid;
	/*border-color: #6A97D4;*/
	border-color: white;
}
td.tag {
    text-align: right;
	vertical-align: top;
	/* white-space: -moz-pre-wrap !important; // DJK */
    border-spacing: 13px 10px;
	border-width: 0px 10px 0px 10px;
	border-color: blue !important;
}
td.tag td {
    width: 100px;
    padding: 3px 0px 3px 0px;
}
tr.tag code, td.usage code {
    margin: 0px 2px;
}
td.usage code {
    white-space: nowrap;
}
td.tag code {
    font-weight: bold;
    color: rgb(255, 0, 255); /* magenta */
    margin-left: 2em;
}
tr.description {
    margin-bottom: 4px;
}
table.commands {
    background-color: rgb(250, 240, 230);
}
table.mappings {
    background-color: rgb(230, 240, 250);
}
table.options {
    background-color: rgb(240, 250, 230);
}

fieldset.paypal {
    border: none;
}

.command { font-weight: bold; color: #632610; }
.mapping { font-weight: bold; color: #102663; }
.option { font-weight: bold; color: #106326; }
.argument { color: #6A97D4; }
.version {
    position: absolute;
    top: 10px;
    right: 2%;
    color: #C0C0C0;
    text-align: right;
}
.warning {
    font-weight: bold;
    color: red;
}
.shorthelp { font-weight: bold; }

.status_insecure, .status_insecure * {
    background-color: transparent;
}
.status_secure, .status_secure * {
    background-color: yellow;
    color: black;
}
.status_broken, .status_broken * {
    background-color: #ff9900;
    color: black;
}

/* vim: set fdm=marker sw=4 ts=4 et: */
