
.liberator-frame-indicator {
    -moz-binding: url(chrome://vimperator/content/bindings.xml#frame);
}

#liberator-frame-indicator {
    background-color: red;
    opacity: 0.5;
    z-index: 999
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

