#vimperator-container  {
    font-family: monospace;
}

#vimperator-bufferwindow, #vimperator-completion, #vimperator-previewwindow {
    -moz-user-focus: ignore;
    overflow: -moz-scrollbars-none !important; /* does not seem to work fully */
    border-width: 0px !important;
    -moz-appearance: none !important; /* prevent an ugly 3D border */
}

/* the selected item in listboxes is hardly readable without this */
#vimperator-completion    > listitem[selected="true"] > listcell,
#vimperator-bufferwindow  > listitem[selected="true"] > listcell,
#vimperator-previewwindow > listitem[selected="true"] > listcell {
   background-color: Highlight !important;
   color: HighlightText !important;
}

/* fixes the min-height: 22px from firefox */
#status-bar, statusbarpanel {
    -moz-appearance: none !important;
	min-height: 18px !important;
    border: none !important;
    font-weight: bold;
    font-family: monospace;
}
#vimperator-statusline {
    font-family: monospace;
    margin: 0px;
}
#vimperator-statusline > label {
    padding: 0px 0px 0px 8px;
}
#vimperator-statusline > label:first-child {
    padding: 0px;
}
#vimperator-statusline-field-url {
    background-color: inherit;
    color: inherit;
}

/* no longer at the window's bottom right corner */
.statusbar-resizerpanel {
    display: none;
}
#statusbar-display, #statusbar-progresspanel {
    display: none;
}

#vimperator-commandline {
    padding: 1px;
    /*
    background-color: white;
    color: black;
    */
}
#vimperator-commandline-prompt, #vimperator-commandline-command {
    background-color: inherit;
    color: inherit;
}

#sidebar {
    max-width: 90% !important;
    min-width: 10% !important;
}

/* highlight groups */

.hl-Normal {
    background-color: white;
    color: black;
}
.hl-ErrorMsg {
    background-color: red;
    color: white;
    font-weight: bold;
}
.hl-ModeMsg {
    background-color: white;
    color: black;
}
.hl-MoreMsg {
    background-color: white;
    color: green;
}
.hl-Question {
    background-color: white;
    color: green;
}
.hl-Title {
    background-color: white;
    color: magenta;
    font-weight: bold;
}
.hl-Warning {
    background-color: white;
    color: red;
}
.hl-StatusLine {
    background: none !important;
    background-color: black !important;
    color: white !important;
}
.hl-StatusLineSecure {
    background: none !important;
    background-color: #B0FF00 !important; /* light green */
    color: black !important;
}
.hl-StatusLineBroken {
    background: none !important;
    background-color: #FF6060 !important; /* light red */
    color: black !important;
}
.hl-URL {
    background-color: white;
    color: green;
    text-decoration: none;
}
a.hl-URL:hover {
    text-decoration: underline;
}

/* MOW */

#vimperator-multiline-output {
    overflow: hidden;
    background-color: white;
    color: black;
}

#vimperator-multiline-output-content {
    white-space: pre; /* -moz-pre-wrap FIXME: Should lines wrap like Vim? */
    font-family: -moz-fixed;
    margin: 0px;
}

#vimperator-multiline-output-content * {
    font: inherit;
}

#vimperator-multiline-output-content table {
    white-space: inherit;
    border-spacing: 0px;
}

#vimperator-multiline-output-content td,
#vimperator-multiline-output-content th {
    padding: 0px 2px;
}

#vimperator-multiline-output-content a {
    cursor: pointer;
}

/* vim: set fdm=marker sw=4 ts=4 et: */
