#vimperator-container  {
    font-family: monospace;
}

#vimperator-bufferwindow, #vimperator-completion, #vimperator-previewwindow {
    -moz-user-focus: ignore;
    overflow: -moz-scrollbars-none;
    border-width: 0px !important;
    -moz-appearance: none !important; /* prevent an ugly 3D border */
}

/* the selected item in listboxes is hardly readable without this */
#vimperator-completion    > listitem[selected="true"] > listcell,
#vimperator-bufferwindow  > listitem[selected="true"] > listcell,
#vimperator-previewwindow > listitem[selected="true"] > listcell
{
   background-color: Highlight !important;
   color: HighlightText !important;
}

/* fixes the min-height: 22px from firefox */
#status-bar, statusbarpanel {
    -moz-appearance: none !important;
	min-height: 18px !important;
    border: none !important;
    font-weight: bold;
    font-family: monospace;
}
#vimperator-statusline {
    font-family: monospace;
    margin: 0px;
}
#vimperator-statusline > label {
    padding: 0px 0px 0px 8px;
}
#vimperator-statusline > label:first-child {
    padding: 0px;
}
#vimperator-statusline-field-url {
    background-color: inherit;
    color: inherit;
}

/* no longer at the window's bottom right corner */
.statusbar-resizerpanel {
    display: none;
}
#statusbar-display, #statusbar-progresspanel {
    display: none;
}

/* colors for the statusbar */
/* #status-bar is included so it also gets the right color before the first setClass("insecure") */
#status-bar,
#status-bar.status_insecure {
    background-color: black;
    color: white;
}
#status-bar.status_secure {
    background-color: #B0FF00; /* light green */
    color: black;
}
#status-bar.status_broken {
    background-color: #FF6060; /* light red */
    color: black;
}

#vimperator-commandline {
    /* FIXME: black on white or default skin colors? -moz-Field/-moz-FieldText */
    background-color: white;
    color: black;
    padding: 1px;
}
#vimperator-commandline-prompt, #vimperator-commandline-command {
    background-color: inherit;
    color: inherit;
}
#vimperator-commandline.error {
    background-color: red;
    color: white;
    font-weight: bold;
}
#vimperator-commandline.message > #vimperator-commandline-prompt {
    background-color: white;
    color: magenta;
    font-weight: bold;
}

#vimperator-multiline-output {
    overflow: hidden;
}

/* vim: set fdm=marker sw=4 ts=4 et: */
