/* Based on vimperator.org home page layout. */

#main-container {
    width: 775px;
    margin: 55px auto;
}

#img-container {
    display: table-cell;
    vertical-align: middle;
    width: 775px;
    height: 440px;
    border: 5px solid black;
    background-repeat: no-repeat;
    background-image: url(chrome://vimperator/content/about_background.png);
    background-color: green;
    border-spacing: 0px 10px;
    -moz-border-radius: 10px;
}

#text-container {
    float: right;
    border: solid black;
    white-space: pre-wrap;
    font-family: monospace;
    font-size: 13px;
    font-weight: bold;
    width: 500px;
    height: 275px;
    color: black;
    background-color: rgb(176, 196, 222);
    opacity: 0.75;
}

.key { color: blue; }

/* vim: set fdm=marker sw=4 ts=4 et: */
